name: "Auto update v2"
on:
  repository_dispatch:
  workflow_dispatch:
    inputs:
      ssh:
        description: 'SSH Actions'
        required: false
        default: 'false'
  push:
    paths:
      - '.github/workflows/Auto update packages v1.yml'
  schedule:
    - cron: "0 */8 * * *"
env:
  TZ: Asia/Shanghai


jobs:
  job_init:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@main
        with:
          ref: 'main'

      - name: Initialization environment
        run: |
          sudo timedatectl set-timezone "$TZ"


      - name: Delete workflow runs
        uses: Mattraks/delete-workflow-runs@main
        with:
          token: ${{ github.token }}
          repository: ${{ github.repository }}
          retain_days: 1
          keep_minimum_runs: 0
        
      - name: SSH connection to Actions
        uses: mxschmitt/action-tmate@master
        if: (github.event.inputs.ssh == 'true' && github.event.inputs.ssh  != 'false') || contains(github.event.action, 'ssh')

  job_auto_update_main:
    if: ${{ always() }}
    needs: job_init
    runs-on: ubuntu-latest
    name: Auto-update-${{ matrix.pakcages }} 
    strategy:
      fail-fast: false
      matrix:
        pakcages: [alist]
        include: 
          - pakcages: alist
            folder: alist
            version_line: 10
			PKG_WEB_VERSION: 11
            hash_line: 16
            version_head: PKG_VERSION:=
            hash_head: PKG_HASH:=
            release_api_command: wget -qO- -t5 -T5 "https://api.github.com/repos/alist-org/alist/releases" | grep "tag_name" | head -n 1 | awk -F ":" '{print $2}' | sed 's/\"//g;s/,//g;s/ //g' | awk -F 'v' '{print $2}'
            release_download_url: https://codeload.github.com/alist-org/alist/tar.gz/v
            file_name: 
			
    steps:
      - name: Checkout
        uses: actions/checkout@main
        with:
          ref: 'main'

      - name: Initialization environment
        run: |
          cd && mkdir -p main && cd main
          sudo timedatectl set-timezone "$TZ"

    - name: Check ${{ matrix.pakcages }}
      id: check
      run: |
        cd && cd work/wall/wall/${{ matrix.folder }} 
        Old_PKG_VERSION=$(sed -n '${{ matrix.version_line }}p' Makefile | awk -F '=' '{print $2}')
        Old_WEB_VERSION=$(sed -n '${{ matrix.web_version_line }}p' Makefile | awk -F '=' '{print $2}')
        New_PKG_VERSION=$(${{ matrix.release_api_command }})
        New_WEB_VERSION=${{ matrix.web_version }}
        echo "${{ matrix.pakcages }}现在版本: $Old_PKG_VERSION"
        echo "${{ matrix.pakcages }}最新版本: $New_PKG_VERSION"
        echo "${{ matrix.pakcages }}现在web版本: $Old_WEB_VERSION"
        echo "${{ matrix.pakcages }}最新web版本: $New_WEB_VERSION"
          
        if [ "$Old_PKG_VERSION" = "$New_PKG_VERSION" ] && [ "$Old_WEB_VERSION" = "$New_WEB_VERSION" ];then 
          echo "status=failure" >> $GITHUB_OUTPUT; 
          echo "${{ matrix.pakcages }}版本为最新版本$New_PKG_VERSION, web版本为最新版本$New_WEB_VERSION, 无需更新"; 
        else 
          echo "New_PKG_VERSION=$New_PKG_VERSION" >> $GITHUB_OUTPUT;
          echo "New_WEB_VERSION=$New_WEB_VERSION" >> $GITHUB_OUTPUT;
          echo "status=success" >> $GITHUB_OUTPUT;
        fi;
		
      - name: Update ${{ matrix.pakcages }}
        id: update
        if: steps.check.outputs.status == 'success' && steps.check.outputs.New_PKG_VERSION != '' && !cancelled()
        run: |
          cd && cd work/wall/wall/${{ matrix.folder }}
          New_PKG_VERSION=${{ steps.check.outputs.New_PKG_VERSION }}
          New_PKG_WEB_VERSION=${{ steps.check.outputs.New_PKG_WEB_VERSION }}
          cat <<-EOF >Makefile.patch
            ${{ matrix.version_line }}c ${{ matrix.version_head }}$New_PKG_VERSION
            ${{ matrix.PKG_WEB_VERSION }}c PKG_WEB_VERSION:=${{ steps.check.outputs.New_PKG_WEB_VERSION }}
            ${{ matrix.hash_line }}c ${{ matrix.hash_head }}$(sha256sum ${file_name:-v$New_PKG_VERSION} | cut -d' ' -f1)
          EOF
          patch -p0 Makefile Makefile.patch
          cd && cd main && mkdir -p ${{ matrix.pakcages }} && cd ${{ matrix.pakcages }}
          wget -P / ${{ matrix.release_download_url }}$New_PKG_VERSION${{ matrix.file_name }}
          PKG_HASH=$(sha256sum ${file_name:-v$New_PKG_VERSION} | cut -d' ' -f1)
          cd && cd work/wall/wall/${{ matrix.folder }} 
          echo "已更新${{ matrix.pakcages }}版本到: $New_PKG_VERSION"
          echo "已更新${{ matrix.pakcages }}版本到: $New_PKG_WEB_VERSION"
          echo "${{ matrix.pakcages }} Hash:$PKG_HASH"
          cd && cd main
          echo ":white_check_mark: ${{ matrix.pakcages }}: update to $New_PKG_VERSION" >> commit_messages.txt
          echo ":white_check_mark: ${{ matrix.pakcages }}: update to $New_PKG_WEB_VERSION" >> commit_messages.txt
    
          echo "version=$New_PKG_VERSION" >> $GITHUB_OUTPUT
          echo "version=$New_PKG_WEB_VERSION" >> $GITHUB_OUTPUT

          cd && cd work/wall/wall
          echo "branch_exists=$(git ls-remote --heads origin ${{ matrix.pakcages }}-$New_PKG_VERSION | tr -d '\n')" >> $GITHUB_OUTPUT
          echo "branch_exists=$(git ls-remote --heads origin ${{ matrix.pakcages }}-$New_PKG_WEB_VERSION | tr -d '\n')" >> $GITHUB_OUTPUT

      - name: Git Auto Commit
        uses: stefanzweifel/git-auto-commit-action@master
        id: commit
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          commit_message: "${{ matrix.pakcages }}: update to ${{ steps.update.outputs.version }}"
          branch: main